body {
    color: navy;
    font-family: sans-serif
}
p {
    color: navy;
    font-family: sans-serif
    height: 100px;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid gray;
    display: inline-block;
    text-align: left
}